<div class="anh-nen row">
    <form ng-submit="addController()">
        <img src="/images/background-banner-dep-3.jpg" alt="" class="col-12">
        <div class="dat-phong">
            <h5>Đặt phòng</h5>
            <div class="ks-diem-den">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="e" ng-model="nameKS">
                        <option value="Cloudk Hà Nội">Cloudk Hà Nội</option>
                        <option value="Cloudk Thanh Hóa">Cloudk Thanh Hóa</option>
                        <option value="Cloudk Nam Định">Cloudk Nam Định</option>
                    </select>
                    <label for="floatingSelect">Chọn khách sạn/ Điểm đến</label>
                </div>
                <div class="row">
                    <div class="chon-ngay-nhan-phong col-4">
                        <h6>Chọn ngày nhận phòng</h6>
                        <input type="date" id="daynhan" name="day" ng-model="nn">
                    </div>
                    <div class="chon-ngay-tra-phong col-4">
                        <h6>Chọn ngày trả phòng</h6>
                        <input type="date" id="daytra" name="day" ng-model="nt">
                    </div>
                    <div class="Hoten col-4">
                        <h6>Họ và tên</h6>
                        <input type="text" id="daytra" name="day" ng-model="name">
                    </div>
                </div>

                <div class="number-selector row">
                    <div class="soPhong col-4">
                        <h6>Số phòng</h6>
                        <input type="text" id="quantity" value="1"  ng-model="sp" >
                        <div class="options">
                            <a href="">
                                <button onclick="decrement()">-</button>
                                <button onclick="increment()">+</button>
    
                            </a>
                           
                        </div>

                    </div>
                    <div class="sdt col-4">
                        <h6>Số điện thoại</h6>
                        <input type="text" id="daytra" name="day" ng-model="sodt">
                    </div>
                    <div class="email col-4">
                        <h6>Email</h6>
                        <input type="text" id="daytra" name="day" ng-model="em">
                    </div>
                </div>
                <div class="nut-dat-phong">
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-house-add" viewBox="0 0 16 16">
                            <path
                                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h4a.5.5 0 1 0 0-1h-4a.5.5 0 0 1-.5-.5V7.207l5-5 6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                            <path
                                d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 1 0 1 0v-1h1a.5.5 0 1 0 0-1h-1v-1a.5.5 0 0 0-.5-.5" />
                        </svg> Đặt</button>
                </div>
            </div>
        </div>

    </form>

</div>