<div class="text-center">
    <h3>Mã đặt phòng: {{dulieu.id}}</h3>
    <table class="table col">
        <thead class="">
            <tr>
                <th>Tên Khách sạn</th>
                <th>Ngày nhận phòng</th>
                <th>Ngày trả phòng</th>
                <th>Họ tên</th>
                <th>Số lượng phòng</th>
                <th>Số điện thoại</th>
                <th>Email</th>
            </tr>
            
        </thead>
        <body>
            <tr>
                <td>{{dulieu.ks}}</td>
                <td>{{dulieu.nn}}</td>
                <td>{{dulieu.nt}}</td>
                <td>{{dulieu.ten}}</dh>
                <td>{{dulieu.sp}}</td>
                <td>{{dulieu.sdt}}</td>
                <td>{{dulieu.em}}</td>
            </tr>
        </body>
    </table>
    <div class="p-4">
        <a href="#!/Danhsachdat" >
            <button class="btn btn-info">Back</button>
        </a>
        <a href="#!/edit/{{item.id}}"><button class="btn btn-success">Sửa</button></a>
    </div>
</div>